* {
     box-sizing: border-box;
}



body {
    background-color: rgb(165, 200, 200);
    font-family:'Arial';
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    /* use CSS var() function to reference a variable created above */
    background-color: rgb(140, 140, 146);
    color: rgb(172, 201, 181);
    height: 150px;

    
}

#headerImg {
    height: 300px;
}



#joel {
    height: 150px;
}

nav a {
    color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  
}

a:hover {
    background-color: yellowgreen;
}


h1 {
    font-size: 200%;
}